@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #d4af37;
  font-family: 'Cinzel', serif;
}
